$font-primary: 400 14px/1 Nunito, sans-serif;
$font-logo: 400 70px/1 DaysOne, sans-serif;

$font-color-primary: rgb(73, 71, 71);
$font-color-secondary: rgb(245, 245, 245);
$font-color-error: rgb(250, 118, 118);

$bg-primary: rgb(138, 188, 208);
$bg-secondary: rgb(245, 245, 245);
$bg-item-light: rgb(255, 255, 255);

$bg-button: rgb(245, 245, 245);
$bg-button-hover: rgba(212, 245, 239, 0.995);
$bg-button-active: rgba(150, 215, 203, 0.995);

$border-primary: rgb(0, 128, 128, 0.5);
$border-secondary: rgb(245, 245, 245);